:root 
{
	--altura_cabecera: 	150px;
	--ancho_lateral: 	300px;
	--ancho_contenido: 	850px;

	--fondo_color1: 	#174950;
	--fondo_color2: 	white;
	--fondo_color3: 	gray;

	--fuente_color1: 	gray;
	--fuente_color2: 	#174950;
	--fuente_color3: 	#174950;

}
#body_center
{
	z-index:			20; 
	position:			absolute; 
	top:				50px; 
	width:				100%;
}

