:root 
{
	--altura_cabecera: 	150px;
	--ancho_lateral: 	300px;
	--ancho_contenido: 	850px;

	--fondo_color1: 	#174950;
	--fondo_color2: 	white;
	--fondo_color3: 	gray;

	--fuente_color1: 	gray;
	--fuente_color2: 	#174950;
	--fuente_color3: 	#174950;

}
#body_center
{
	z-index:			20; 
	position:			absolute; 
	top:				50px; 
	width:				100%;
}


div.menu_imagen, menu_texto{
	width:				auto;
	display:inline-block
}

@media (orientation: portrait)
{
	a{
		font-size:			30px; 
	}
	.formulario{
		font-size:			25px; 
		width: 				100%;
		box-sizing:			border-box;
		border-radius:		6px;
		height:				50px;
	}
	.menu_texto{
		visibility: 		hidden;
		width: 				0px;
		float: 				left;
	}			
	div.menu_imagen{
		padding:			0px;
	}
	div.menu_texto{		
		padding:			0px;
	}

	img.menu_imagen{		
		width: 				50px;
		padding:			0px 30px ;
	}

}
@media (orientation:landscape)
{
	a{
		font-size:			15px; 
	}
	.formulario{
		width: 				100%;
		box-sizing:			border-box;
		border-radius:		6px;
		height:				30px;
	}
	div.menu_imagen{		
		padding:			0px 5px 0px 50px;
	}
	img.menu_imagen{		
		width: 				20px;
	}

}
